.main {
    font-family: 'EB Garamond', serif;
    color: rgb(39, 39, 26);
    background-color: rgb(245, 247, 226);
    background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}

.title {
    border-bottom: 2px groove rgb(39, 39, 26); 
    padding-top: 10%;
    padding-bottom: 2%;
}

.about {
    font-size: 20px;
    padding-top: 8%;
    padding-bottom: 8%;
}

.projects-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5%;
    font-size: 25px;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.projects img {
    width: 80%;
    height: 80%;
    padding: 5%;   
}

.hobbies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    padding-top: 5%;
}

.contact {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.hobbies-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5%;
    padding-top: 10%;
    font-size: 25px;
}

.activities-1, .activities-2{   
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 2%;
}

.activities-1 img {
    height: 250px;
    width: 250px;
}

.activities-2 img {
    height: 250px;
    width: 250px;
}
